@page "/AboutUs"

<PageTitle>Index</PageTitle>

<h1>Something About Us</h1>

WELCOME!
We are aspiring coders who wish to create a travelling app with 0 drawbacks and the best prices!

If you need help with any issues,please contact rowelltjj@gmail.com OR 999
